<h1>Detalle de producto</h1>
<div style="border: 1px solid black; padding: 20px;">
    <h2>{{product.title}}</h2>
    <p><strong>descripcion:</strong> {{product.description}}</p>
    <p><strong>precio:</strong> ${{product.price}}</p>
    <p><strong>categoria:</strong> {{product.category}}</p>
    <p><strong>stock disponible:</strong> {{product.stock}}</p>
    <p><strong>codigo:</strong> {{product.code}}</p>
    <hr>
    <button>agregar al carrito</button>
</div>
<br>
<a href="/products">volver a la lista de productos</a>